[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "FBInk"]
	path = FBInk
	url = https://github.com/NiLuJe/FBInk
[submodule "libvterm"]
	path = libvterm
	url = https://github.com/neovim/libvterm
	branch = master
    ignore = dirty
